.cart-item {
    display: flex;
    align-items: center;
}

.cart-item__image {
    width: 75px;
}

.cart-item__image img {
  width: 100%;
  height: auto;
}

.cart-item__title {
    max-width: 160px;
}

.cart-item__price {
    width: 50px;
    text-align: center;
}

.cart-item__quantity {
    width: 100px;
    text-align: center;
}

.cart-item__quantity button {
    width: 30px;
    height: 30px;
}

.cart-item__totalPrice {
    width: 70px;
    text-align: right;
}
